[Desktop Entry]
Name=Discord
Version=0.0.19
Type=Application
StartupWMClass=discord
GenericName=Internet Messenger
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Icon=auto2
Exec=auto1
Categories=Network;InstantMessaging;
